[submodule "generated"]
	path = generated
	url = https://github.com/onelang/TestArtifacts
[submodule "CompilerBackend"]
	path = CompilerBackend
	url = https://github.com/onelang/CompilerBackend
	branch = master
